.error-page {
    background: url(../../assets/contactusbanner.jpg);
    color: #fff;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}