.kyc__verfication__container {
    margin-top: 3em;
    margin-bottom: 3em;
    /* min-height: 67vh; */
    font-weight: 500;
}

.kyc__verification__container__subheading {
    font-size: 0.875rem;
    font-weight: 600;
}

.kyc__verfication__container__benefits {
    font-size: 0.7rem;
}

.kyc__verfication__container__benefits .fa {
    color: #24ae8f;
}

.kyc__verification__container__card>img {
    margin-top: 32px;
}

.kyc__verification__container__card {
    background-color: #f3f3f3;
    /* padding: 20px;
    margin: 10px 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}